
.vs/DondeEstudiar/v15/.suo
.vs/DondeEstudiar/v15/Server/sqlite3/db.lock

.vs/DondeEstudiar/v15/Server/sqlite3/storage.ide
.vs/DondeEstudiar/v15/Server/sqlite3/storage.ide-shm
.vs/DondeEstudiar/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
DondeEstudiar/bin/DondeEstudiar.dll
DondeEstudiar/bin/DondeEstudiar.pdb
.vs/config/applicationhost.config
DondeEstudiar/DondeEstudiar.csproj
DondeEstudiar/obj/Debug/DondeEstudiar.pdb
DondeEstudiar/obj/Debug/DondeEstudiar.dll
DondeEstudiar/obj/Debug/DondeEstudiar.csprojAssemblyReference.cache
DondeEstudiar/obj/Debug/DondeEstudiar.csproj.FileListAbsolute.txt
DondeEstudiar/obj/Debug/DondeEstudiar.csproj.CoreCompileInputs.cache
DondeEstudiar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DondeEstudiar/DondeEstudiar.csproj
